
@{
    Layout = null;
    Layout = "~/Views/Admin/Menu.cshtml";
}
    <div class="span3">

    </div>
    <div class="well span9" >
        <h1>Admin Panal: Delete Items</h1>
        
        <table class="table">
       
        @using (Html.BeginForm("getTittles", "Admin", FormMethod.Post))
        {    
            <tr>
                <td> Category</td>
                <td><select style="width:100%" id="select" name="catagory">
                        <option> Lawns </option>
                        <option> T-Shirts </option>
                        <option> Jeans </option>
                        <option> Tops </option>
                        <option> Shalwar Kameez </option>
                        <option> Trousers </option>
                        <option> Sweaters </option>
                        <option> Others </option>
            </select><button name="tittles" class="btn btn-info" id="t1" type="submit">Get Tittles</button></td>
            
            </tr>
             }
            
        @using (Html.BeginForm("deleteProduct", "Admin", FormMethod.Post))
        {
            <tr>
                <td> Tittle</td>
                <td> <select style="width:100%" id="tittle" name="tittle">
                    
                   @if(Model != null)
                   {
                        
                        foreach(var r in Model)
                        {
                
                           
                            <option>@r.Tittle</option>
                        }
                   }               
                
                    </select></td>
            </tr>  
            <tr>
                <td> </td>
                <td> <input type="submit" value="Delete Item" class="btn btn-success"/></td>
            </tr>
        }
        </table>

    </div>

