@{
    Layout = null;
    Layout = "~/Views/Admin/Menu.cshtml";
}

    <div class="span3">

    </div>
    <div class="well span9" >
        <h1>Admin Panal: Edit Items</h1>
         @using (Html.BeginForm("editProduct", "Admin", FormMethod.Post))
         {  
        <table class="table">
            <tr>
                 
                <td> Category</td>

                <td><select style="width:100%" id="category" name="Category">
                        <option> Lawns </option>
                        <option> T-Shirts </option>
                        <option> Jeans </option>
                        <option> Tops </option>
                        <option> Shalwar Kameez </option>
                        <option> Trousers </option>
                        <option> Sweaters </option>
                        <option> Others </option>
            </select></td>
                
            </tr>
            <tr><td>Tittle</td><td>
                <select style="width:100%" id="tittle" name="Tittle" >
           
            <script>
                $(document).ready(function () {
                    $('#category').change(function () {
                        var category = $('#category').val();
                        $('#tittle option').remove();
                        
                        $.getJSON("../Product/getProductData?category=" + category, function (data) {
                            
                            $.each(data, function (i, item) {
                                
                                $('#tittle').append('<option >' + item.Tittle + '</option>');
                            });
                           
                        });
                    });
                });
                </script>
                </select></td></tr>
          
                
            <tr>
                <td> @Html.Label("Company")</td>
                <td> <input type="text" name="Company" id="t1"/></td>
            </tr>
            <tr>
                <td> @Html.Label("Purchase")</td>
                <td> <input type="text" name="Purchase" id="p1"/></td>
            </tr>
            <tr>
                <td> @Html.Label("Sale Price")</td>
                <td> <input type="text" name="Price" id="t2" />
                    <script>
                        $(document).ready(function () {
                            $('#tittle').change(function () {
                                var category = $('#tittle').val();
                                

                                $.getJSON("../Product/getProductDetails?tittle=" + category, function (data)
                                {
                                    $.each(data, function (i, item) {

                                        $('#t2').val(item.Price);
                                        $('#t1').val(item.Company);
                                        $('#p1').val(item.Purchase);
                                        
                                    });

                                });
                            });
                        });
                    </script>
                    
                </td>
            </tr>
            <tr>
                <td> </td>
                <td> <input type="submit" value="Edit Item" class="btn btn-success"/></td>
            </tr>
                
        </table>
         }
    </div>

   
  
  