
    <div class="span3" >
        
    </div>   
        <div class="span6">
            
                <div class="thumbnail">
                    <h1>About Ladies dress collection</h1>
                    <img src="~/Content/themes/about.jpg" alt="Sample Image">
                    <br>
                    <div class="well caption">
                        <p>Ladies dress collection is published as a student project and is created in ASP.Net Razor Syntax.</p>                        
                    </div>
                    <div class="well caption">
                        
                        <p>Any information on this website is not to be taken as true. Nothing on this website concerns any government or private organazation and everything is imaginary.</p>                        
                                           
                    </div>
                </div>
            </div>

   
  
   
