
 
    <div class="span3" >
        
    </div>   
        <div class="span6">
            <h2>Contact Ladies dress collection Limited</h2>
            <div class="bs-example">
    <table class="table table-striped">
        <thead>
            <tr>
               Head Office 
            </tr>
        </thead>
        <tbody>
            <tr>
                PUCIT allama iqbal campus
            </tr>
            <tr>
            </tr>
            <tr>
                <td>Fax:</td>
                <td>(+ 92 42) 36368857</td>
            </tr>
        </tbody>
    </table>
</div>


        </div>

   
  
   
