@model EADWebProject.Models.Product
    <div class="span6">
        <h2>All Pictures</h2>
    </div>
    <div class="span9"  >
       
            
                <div class="thumbnail">
                  <img id="zoom_10" src="~/Files/@Model.Pictures" data-zoom-image="~/Files/@Model.Pictures" />
                   
                   
                </div>
      


    </div>

   
  
