

 
    <div class="span3" >
//        

    </div>

    <div class="span6" >

        <h2 >Sign Up</h2>
        <br>
         @using (Html.BeginForm("saveUser", "Home", FormMethod.Post))
        {
        <table>
        <tr>
        <th  ><p >User Name</p></th> <th><input type=text name="name" id="UserName"/></th><th><button class="btn btn-info" id="b1">Check</button></th><th><div id="checking">checking...</div></th><th><div id="result"></div></th>
        </tr>
            
            <script>
              /*  $.getJSON (url, [data], [callback]) is designed to get ajax json data set, and supports cross-domain calls
•url: string type, ajax requested address for example if you have business logic in ajaxcalls.pl you would 
call ajaxcalls.pl in url.
•data: optional parameter, object type or sting, sent to the server with request. 
•callback: optional parameter, function type, when ajax return success this function function (data) called automatically. 

JSON is an ideal data transmission format, it can be a good integration with JavaScript. Sending data in JSON format is more secure as compared
to using get and post. Another advantage is that it also support cross-domain calls.*/

                $(document).ready(function () {

                    $('#checking').hide();

                    $('#b1').click(function () {

                        var userName = $('#UserName').val();

                   
                        $('#checking').show();
                       
                        $.getJSON("../../Home/CheckUserName?UserName=" + userName, function (data)
                        {
                            $('#checking').hide();
                           
                            if (data) {
                                
                                $('#result').text("Invalid username");

                            }
                            else {
                                $('#result').text("Valid username");
                            }
                        });
                        return false;
                    });

                });
                </script>
        <tr>
        <th  ><p >Email</p></th> <th><input type=text name="email" id="t2"/></th>
        </tr>
        <tr>
        <th  ><p >Password</p></th> <th><input type=password name="passwd" id="t3"/></th>
        </tr>
         <tr>
        <th  ><p >Retype Password</p></th> <th><input type=password name="passwd1"id="t4" /></th>
        </tr>
        <tr>
        <th ><button class="btn btn-info" type="submit" style="margin-left:100px" onclick="return check(this)">Register</button></th>
         <th><button class="btn" style="margin-left:2px" type="button">Cancel</button></th>
        </tr>
         
        </table>
        <div id="p1" style="color:red"></div>  
        }
         <script>
             function check()
             {
                 var name = document.getElementById('UserName').value;
                 var email = document.getElementById('t2').value;
                 var password = document.getElementById('t3').value;
                 var newPassword = document.getElementById('t4').value;
                 if (name.length == 0)
                 {
                     $('#p1').append('*name field naver be empty.');
                     return false;
                 }
                 else if (email.length == 0)
                 {
                     $('#p1').append('*email field naver be empty.');
                     return false;
                 }
                 else if (password.length == 0) {
                     $('#p1').append('*password field naver be empty.');
                     return false;
                 }
                 else if (newPassword.length == 0) {
                     $('#p1').append('*Again Password field naver be empty.');
                     return false;
                 }
                 else if (password != newPassword) {
                     $('#p1').append('*password and retype password failed must be same.');
                     return false;
                 }
                 else {
                     return true;
                 }
             }
            </script>

    </div>
  
   